@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --dark-gray: #666666;
   --light-gray: #dadada;
   --superlight-gray: #f0f0f0;
   --dark-blue: #0a1839;
   --blue: #0055ff;
   --green: #00e244;
   --green-t: #00e2444d;
   --orange: #ff7b00;
   --orange-t: #ff7b004d;
   --red: #fd0d41;
   --red-t: #fd0d414d;
   --content-limit: 1300px;
}

* {
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
   color: var(--dark-blue);
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.6rem;
}