.crudHeader {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding-bottom: 1em;
}

.crudCard {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 2em;
   margin: 2em 0;
   border: 1px solid var(--light-gray);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   color: var(--dark-blue);
   gap: 1em;
   user-select: none;
   transition: all 200ms;
   -webkit-transition: all 200ms;
   -moz-transition: all 200ms;
   -ms-transition: all 200ms;
   -o-transition: all 200ms;
}

.crudCard:hover {
   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.crudContent {
   display: flex;
   flex-direction: column;
}

.crudControls {
   display: flex;
   justify-content: end;
   flex-wrap: wrap;
   gap: 1em;
   opacity: 0.1;
   filter: grayscale(1) blur(3px);
   transition: opacity 200ms ease-in-out;
   -webkit-transition: opacity 200ms ease-in-out;
   -moz-transition: opacity 200ms ease-in-out;
   -ms-transition: opacity 200ms ease-in-out;
   -o-transition: opacity 200ms ease-in-out;
   -webkit-filter: grayscale(1) blur(3px);
}

.crudCard:hover .crudControls {
   opacity: 1;
   filter: none;
   -webkit-filter: none;
}

.crudControlsInner {
   display: flex;
   gap: 1em;
}

.crudButton {
   color: var(--dark-blue);
   /* margin-top: auto; */
   padding: 0.5em 1em;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 500px;
   -webkit-border-radius: 500px;
   -moz-border-radius: 500px;
   -ms-border-radius: 500px;
   -o-border-radius: 500px;
   border: 2px solid var(--dark-blue);
   cursor: pointer;
   transition: all 150ms;
   background-color: white;
   -webkit-transition: all 150ms;
   -moz-transition: all 150ms;
   -ms-transition: all 150ms;
   -o-transition: all 150ms;
}

.crudButton:is(:hover) {
   outline: none;
   background-color: var(--dark-blue);
   color: white;
   box-shadow: 0px 0px 15px 2px var(--dark-blue-t);
}

.crudButton#open:is(:hover) {
   color: white;
   border-color: var(--blue);
   background-color: var(--blue);
   box-shadow: 0px 0px 15px 2px var(--blue-t);
}

.crudButton#resolve:is(:hover) {
   color: white;
   border-color: var(--green);
   background-color: var(--green);
   box-shadow: 0px 0px 15px 2px var(--green-t);
}

.crudButton#edit:is(:hover) {
   color: white;
   border-color: var(--orange);
   background-color: var(--orange);
   box-shadow: 0px 0px 15px 2px var(--orange-t);
}

.crudButton#delete {
   color: var(--red);
   border-color: var(--red);
}

.crudButton#delete:is(:hover) {
   color: white;
   border-color: var(--red);
   background-color: var(--red);
   box-shadow: 0px 0px 15px 2px var(--red-t);
}

.crudCard h1 {
   font-size: 1.2rem;
   margin-top: 0;
}

.crudCard .subtitle {
   font-size: 0.9rem;
   font-style: italic;
   margin-bottom: 0.3rem;
   color: var(--dark-gray)
}

.crudCard .subject {
   font-weight: 600;
}

.crudCard .message {
   padding: 0.8em;
}